<<<<<<< HEAD
doctype 5
=======
doctype html
>>>>>>> 28c5ee4ac0df12bef08e108dffcd43dcd778272e
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content